/* CSS - каскадная таблица стилей, она применяет правила сверху вниз */

body {
  /* Такой селектор выбирает все элементы типа body */
  font-size: 22px;
}

/* Элементы наследуют некоторые правила, например все наследуют от body, но border бы не наследовали */

button,
input,
textarea,
select {
  /* Заставили эти элементы наследовать настройки шрифта */
  font: inherit;
}

p {
  color: red;
}

.gray {
  /* Это селектор класса, который мы задаем элементам. Также они перебивают более общие выборки такие как p сверху */
  /* Классы самый распространенный способ выборки */
  color: grey;
}

#second {
  /* Это селектор id, он еще более узкий, поэтому перебивает класс */
  /* Но их использовать в css не рекомендуется, их используют в функционале */
  color: blue;
}

h1,
h2 {
  /* Выбрали несколько элементов */
  color: green;
}

p span {
  /* Такой селектор ищет все span внутри всех p */
  /* Хотя для такого примера класс был бы все еще предпочтительней */
  text-transform: uppercase;
  background-color: gold;
}

* {
  /* Такой селектор выбирает все элементы на странице */
  /* Используется для сброса CSS (потом будет) */
  font-family: monospace;
}

p span {
  color: red !important; /* !important поставит настройку над всеми остальными (ее лучше вообще никогда не использовать, кроме очень специфичных случаев) */
}
