/* Абсолютные
Единицы	      Название	                           Эквивалент
    cm	      Centimeters/Сантиметры	              1cm = 96px/2.54
    mm	      Millimeters/Миллиметры	              1mm = 1/10th of 1cm
    Q	        Quarter-millimeters/Четверть-мм	      1Q = 1/40th of 1cm
    in	      Inches/Дюймы	                        1in = 2.54cm = 96px
    pc	      Picas/Пики	                          1pc = 1/6th of 1in
    pt	      Points/Точки	                        1pt = 1/72th of 1in
    px	      Pixels/Пиксели	                      1px = 1/96th of 1in */

/* Относительные
Единица	    Относительна к
em	      Размер шрифта родительского элемента.
ex	      x-высота шрифта элемента.
ch	      Предварительная мера (ширина) глифа "0" шрифта элемента.
rem	      Размер шрифта корневого элемента.
lh	      Высота строки элемента.
vw	      1% от ширины окна просмотра.
vh	      1% от высоты окна просмотра.
vmin	    1% от меньшего измерения ширины окна просмотра.
vmax	    1% от большего измерения ширины окна просмотра. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
}

.one {
  font-size: 16px; /* px - абсолютное значение. По дефолту у браузера шрифт 16px */
  /* Для шрифта абсолютные значения лучше не использовать, потому что по умолчанию размер шрифта может быть разный, установив абсолютное значение, мы перепишем значение относительно себя */
}

h1 {
  border: 2px dashed red; /* Для границы нормально использовать абсолютное значение */
  width: 20%; /* Процентное значение */
  font-size: 3rem;
  padding: 0.5em; /* 0.5 от 3rem (да, реагирует на font-size тут) */
}

.two {
  font-size: 2rem; /* Удваивает дефолтный размер т.е. 32px. Смотрит он не на main или body а на корневой элемент root */
}

.three {
  font-size: 3em; /* Утраивает родительский элемент */
  width: 40ch; /* 40 букв в ширину */
}
